<?xml version="1.0"?>

<!--TODO - fix cylinder inertia - values probably aren't right -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="EEplate" params="parent name radius thickness *origin">

		<joint name="${parent}_${name}_joint" type="fixed">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}_base"/>
		</joint>
		<link name="${name}_base">
			<visual>
				<origin xyz="${-radius} 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="${radius}" length="${thickness}"/>
				</geometry>
			</visual>
			<collision>
				<origin xyz="${-radius} 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="${radius}" length="${thickness}"/>
				</geometry>
			</collision>
		</link>

	</xacro:macro>
</robot>

