<?xml version="1.0"?>

<!--TODO - fix cylinder inertia - values probably aren't right -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="EEplate" params="parent name radius thickness *origin">

		<joint name="${parent}_${name}_plate_joint" type="fixed">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${name}_base"/>
		</joint>
		<link name="${name}_base">
			<inertial>
				<mass value="0.1"/>
				<inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
			</inertial>
			<visual>
				<origin xyz="0 0 ${thickness}*0.5" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="${radius}" length="${thickness}"/>
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 ${thickness}*0.5" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="${radius}" length="${thickness}"/>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>

