<?xml version="1.0"?>

<robot name="kuka_with_plate" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:include filename="iiwa7.urdf.xacro"/>
	<xacro:include filename="EEplate.urdf.xacro"/>

	<xacro:EEplate parent="iiwa_link_7" name="plate" radius="0.2" thickness="0.04">
    	<origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
  	</xacro:EEplate>

	<gazebo reference="plate_base">
		<material>Gazebo/Grey</material>
	</gazebo>

	<gazebo reference="iiwa_link_0">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_1">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_2">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_3">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_4">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_5">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_6">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<gazebo reference="iiwa_link_7">
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

</robot>


